# Flask
Flask

# Flask components for forms/database/bootstrap
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
Flask-Bootstrap

# External libraries
SQLAlchemy
twilio
phonenumbers
python-dotenv

# Testing
# unittest2
# coverage
# mock

# Development
flake8
black