.sidebar {
    position: fixed;
    left: 0;
    width: 450px;
    padding: 20px;
}

.main-content {
    margin-left: 450px;
    border-left: 1px solid #999;
    padding: 20px;
}

.input-container {
    margin-top: 30px;
}

#endCall {
    display: none;
}

#onCall {
    display: none;
}

.transcript-container {
    padding: 12px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 3px;
    min-height: 120px;
    margin-bottom: 30px;
}

#transcribing {
    display: none;
    margin-left: 10px;
}

.action-form {
    margin-bottom: 25px;
}